requests==2.32.3
beautifulsoup4==4.13.0
trafilatura==2.0.0
markdownify==1.1.0
PyMuPDF==1.24.1
cloudscraper==1.2.71
selenium==4.22.0
webdriver-manager==4.0.1
Flask==3.0.3
Flask-SocketIO==5.3.6
python-socketio[client]==5.11.2
gevent==24.2.1
gevent-websocket==0.10.1
gunicorn==22.0.0 